/* Style changes that need to be made:
    -top container text size and cloud positioning when resizing browser
    -general spacing within the entire page
    -add icons for developing skills
 */

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.kevin {
    color: #66bfbf;
    font-size: 120px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 2;
}

.headings {
    font-size: 35px;
}

h1 {
    color: blue;
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    font-size: 35px;
}

h2 {
    color: red;
    font-family: 'permanent marker';
}

h3 {
    font-family: 'Montserrat';
    font-size: 30px;
    color: #66bfbf;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 30%;
    margin: auto;
    padding: 3%;
    font-size: 20px;
}
a {
    color: #e4f9f5;
    font-family: 'permanent marker';
    margin: 10px 20px;
    font-size: 25px;
 
}
a:hover{
    color:black;
}

.top-fixed {
    background-color: transparent;
    position: fixed;
    right: 0px;
    z-index: 2;
    width: 10%;
}

.bottom-fixed {
    background-color: transparent;
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 2;
    width: 20%;
}

.top-container {
    background-color: #e4f9f5;
    padding-top: 180px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
}

.middle-container {
    padding-top: 70px;
    background-color: #e4f9f5;
    position: relative;
padding-bottom: 4%;
}
.bottom-container {
    background-color: #66bfbf;
  padding-top: 2%;
  background-image: linear-gradient(to bottom, #66bfbf, #e8fffe);
}




.flex-container {
    display: inline-block;
    flex-wrap: nowrap;

}

.flex-container>img {
    width: 20%;
    height: auto;
    object-fit: contain;
}

.flex-container>img.giphy-steph {
    width: 200px;
    height: auto;
    object-fit: contain;
}

.skill-icon {
    width: 30%;
}



hr {
    border: dotted blue 6px;
    border-bottom: none;
    width: 40%;
}


img.mountain {
    position: relative;
    width: 70%;
    bottom: 120px
}

.top-cloud {
    position: absolute;
    right: 250px;
    top: 50px;
    width: 10%;
}

.bottom-cloud {
    position: absolute;
    bottom: 600px;
    width: 10%;
}

li {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: center;
    line-height: 1.6;
}

img.spidey {
    width: 100%;
    height: auto;
    object-fit: contain;
}



img.giphy-steph {
    max-width: 100%;
    ;
    max-height: 100%;
    object-fit: contain;
}

img.giphy-spiderman-heart3 {
    max-width: 100%;
    max-height: auto;
    object-fit: contain;
}

img.giphy-pug2 {

    max-width: 100%;
    ;
    max-height: 100%;
    object-fit: contain;
}

img.drift {
    width: 100%;
    object-fit: contain;
}


img.profile-pic {
    max-width: 175px;
}

img.middle-icons {
    width: 35%;
}
img.pikachu {
    width: 20%;
}



  .btn {
      background: #001aff;
      background-image: -webkit-linear-gradient(top, #001aff, #f5fffd);
      background-image: -moz-linear-gradient(top, #001aff, #f5fffd);
      background-image: -ms-linear-gradient(top, #001aff, #f5fffd);
      background-image: -o-linear-gradient(top, #001aff, #f5fffd);
      background-image: linear-gradient(to bottom, #001aff, #f5fffd);
      -webkit-border-radius: 8;
      -moz-border-radius: 8;
      border-radius: 8px;
      font-family: 'permanent marker';
      color: #000000;
      font-size: 20px;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
    }
    
    .btn:hover {
        text-decoration: none;
        background: #fa0000;
        background-image: -webkit-linear-gradient(top, #fa0000, #faf0f0);
        background-image: -moz-linear-gradient(top, #fa0000, #faf0f0);
        background-image: -ms-linear-gradient(top, #fa0000, #faf0f0);
        background-image: -o-linear-gradient(top, #fa0000, #faf0f0);
        background-image: linear-gradient(to bottom, #fa0000, #faf0f0);
    }
    
    .copyright {
        color: #e4f9f5;
        font-size: 0.80rem;
    }